---
layout: default
---

<div class="container-fluid">
	<div class="container-960 nopadding">
		<h2 class="text-center page-heading"> Contact Us </h2>
	</div>
</div>

<div class="container-fluid border-top-2 special-div">

	<!---- Next step ----->
	<div class="container-960 nopadding">

		<div class="col-sm-6 col-md-5 mnopadding">

			<h3> Next Step</h3>
			<p class=" dmar-bot-25">
				Want to know more, let us know your details and we'll be in touch to answer any questions.
			</p>

			<form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token=0ccc509fb2189d4939991b1f27e8e597" method="post">
				
				<input type='hidden' name='redirect_to' value='http://exprojects.cloudapp.net/thankyou.html' />
				
				<div class="form-group">
					<div class="col-sm-6 mmar-bot-15">
						<input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<select class="form-control" name="type">
							<option selected>I am a</option>
							<option>Business</option>
							<option>Enterprise</option>
							<option>Government Department</option>
							<option>Service Provider</option>
							<br />
							<option>Individual</option>
							<br />
							<option>System integrator</option>
							<br />
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
								I have read and agree to the <a href="{{site.baseurl}}/legal.html"> <span class="primary-Color"> Privacy Policy </span></a> </label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12 ">
						<button type="submit" class="btn btn-default primary-btn">
							Get in touch
						</button>
					</div>
				</div>
			</form>
		</div>
		<!---- next step------>

		<!---- contact details ---->
		<div class="col-sm-6 col-md-5 col-md-offset-2 mnopadding mmar-top-25">
			<h3>Contact Details</h3>
			<address>
				<p>
					If you can to call or send us something, details are below.
				</p>
				<br>
				<div class="mar-bot-15">
					<abbr title="Phone">International Phone: </abbr> +61 3 8658 6111 
				</div>
				<div class="mar-bot-15">
					<abbr title="Phone">Australian Phone: </abbr> 1800 DUBBER
				</div>	
				<div>
					Email:<a href="mailto:#"> info@dubber.net</a>
				</div>
				 
			</address>
		</div>
	</div>
	<!---- end of contact details ---->

</div><!-- end of contact container --->

