---
layout: default
---

<div class="container-fluid  trade-work special-div home-image">
	<div class="container-960">

		<div class="col-sm-5 mtext-center dtext-right mnopadding dpadd-right-60">
			<img src="assets/images/vector.png" />
		</div>
		<div class="col-sm-6 mnopadding mtext-center">
			<img class="mimage-width-100" src="assets/images/Vector-Smart-Object-copy-6.png" />
			<h2 class="primary-Color OpenSans-Light"> Transforming call recording to the cloud. </h2>
			<p class="primary-Color dmar-top-25 OpenSans-Light">
				Cloud-based call recording for any business.
			</p>
			<p class="dmar-top-25 learn-more OpenSans-Semibold">
				<a href="#"> Learn More <i class="fa fa-chevron-down"></i> </a>
			</p>
		</div>

	</div>
</div>

<div class="container-fluid whiteBackground special-div">
	<div class="container-960 text-center">

		<div class="col-sm-4">
			<div class="hidden-sm hidden-md hidden-lg">
				<img src="{{site.baseurl}}/assets/images/Vector-Smart-Object.png" />
			</div>
			<div class="hidden-sm hidden-md hidden-lg">
				<img src="{{site.baseurl}}/assets/images/Line-2.png" />
			</div>
			<div class="dmar-top-65">
				<button type="button" class="btn btn-default secondary-btn">
					Record
				</button>
				<img src="{{site.baseurl}}/assets/images/Line-1.png" class="line-image line-image1 hidden-xs" />
			</div>
			<div>
				Use Dubber to capture all of your call
				recordings directly from your PBX, through
				your service provider, Dubber API or by using
				the Dubber Telco in the Cloud platform.
			</div>
		</div>

		<div class="col-sm-4">
			<div class="hidden-xs">
				<img src="{{site.baseurl}}/assets/images/Vector-Smart-Object.png" />
			</div>
			<div class="hidden-sm hidden-md hidden-lg mmar-top-5">
				<img src="{{site.baseurl}}/assets/images/Line-4.png" />
			</div>
			<div class="col-sm-12 nopadding dmar-top-35">
				<button type="button" class="btn btn-default secondary-btn">
					Subscribe
				</button>
				<img src="{{site.baseurl}}/assets/images/Line-2.png" class="line-image line-image2 hidden-xs" />
			</div>
			<div>
				All the features and functionality you would
				expect in your recording solution, instantly
				live and available anywhere any time, all for
				one low monthly subscription fee.
			</div>
		</div>

		<div class="col-sm-4">
			<div class="hidden-sm hidden-md hidden-lg mmar-top-5">
				<img src="{{site.baseurl}}/assets/images/Line-2.png" />
			</div>
			<div class="dmar-top-65">
				<button type="button" class="btn btn-default secondary-btn">
					Use
				</button>
				<img src="{{site.baseurl}}/assets/images/Line3.png" class="line-image line-image3 hidden-xs" />
			</div>
			<div>
				Bring your recordings to life.  Use Dubber
				to connect your recordings directly into
				your CRM, WFO, Analytics or other systems
				enabling you to realise their true value.
			</div>
		</div>

	</div>
</div>

<div class="container-fluid  panel panel-default">
	<div class="container-960">
		<div class="panel-body mnopadding mtext-center">
			<span class="line-height-15"> <span class="hidden-xs"> Just want to records a call, try our demo now </span> <span class="hidden-sm hidden-lg hidden-md col-xs-12 line-height-35"> Just want to records a call, <span class="col-xs-12"> try our demo now </span> </span> </span>
			<a href="{{site.baseurl}}/try.html" type="button" class="btn dark-btn mmar-top-10" target="_blank"> Demo  &nbsp;&nbsp; <i class="fa fa-chevron-right"></i> </a>
		</div>
	</div>
</div>

<div class="container-fluid record-div special-div">
	<div class="container-960">

		<!-- start html Record div -->
		<h2 class="record-head"> A few ways to get started </h2>
		<p class="record-subhead">
			Dubble enables your business to connect and records,
			or remove hassels with existing recording.
		</p>

		<div class="col-xs-12 nopadding record-subdiv">
			<div class="col-xs-1 mnopadding record-number">
				1
			</div>
			<div class="col-xs-11">
				<h3 class="record-subdiv-heading"> Record your phone system </h3>
				<p>
					<small> Dubber allows you to easily integrate into your existing telephony system, enabling you to record, capture and realise the value from your calls. With connectors already available and many more soon to be released.
						Contact Us to find out if your system is Dubber ready </small>
				</p>
			</div>
		</div>

		<div class="col-xs-12 nopadding record-subdiv">
			<div class="col-xs-1 mnopadding record-number">
				2
			</div>
			<div class="col-xs-11">
				<h3 class="record-subdiv-heading"> Record via your service provider </h3>
				<p>
					<small> Connect to Dubber via one of our preferred telephony partners.  With some of the best known providers already connected to Dubber, all you need to do to start recording is contact your provider and ask them to turn on Dubber today.
						If your provider isn't yet connected let us know and we will show them how simple it is to connect </small>
				</p>
			</div>
		</div>

		<div class="col-xs-12 nopadding record-subdiv">
			<div class="col-xs-1 mnopadding record-number">
				3
			</div>
			<div class="col-xs-11">
				<h3 class="record-subdiv-heading"> Get Recording? Enhance It Now. </h3>
				<p>
					<small> Have existing recordings adding zero value to your business?
						Realise the potential of your call recordings with a Dubber connector. Search, Analyse and Share recordings. Connect recordings directly into your CRM, WFO and other business systems and bring the content of your calls to life. </small>
				</p>
			</div>
		</div>

	</div>
</div>

<div class="container-fluid whiteBackground special-div">
	<div class="container-960">

		<!-- start html next step div -->
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mnopadding">

			<h2 class="text-center "> NEXT STEP</h2>
			<p class="text-center dmar-bot-25 OpenSans-Light">
				Want to know more, let us know your details and we'll be in touch to answer any questions.
			</p>

			<form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token=0ccc509fb2189d4939991b1f27e8e597" method="post">
				
				<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
				<!-- <input type='hidden' name='redirect_to' value='{{site.baseurl}}/legal.html' /> -->
				<input type='hidden' name='redirect_to' value='http://exprojects.cloudapp.net/thankyou.html' />

				<div class="form-group">
					<div class="col-sm-6 mmar-bot-15">
						<input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
					</div>
					<div class="col-sm-6"> 
						<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
								I have read and agree to the <a href="{{site.baseurl}}/legal.html"> <span class="primary-Color"> Privacy Policy </span></a> </label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-default primary-btn">
							Get in touch
						</button>
					</div>
				</div>
			</form>

			
		</div>

	</div>

</div>

