---
layout: default
---

<div class="container-fluid mar-bot-40">
	<div class="container-960 nopadding">

		<div class="col-xs-12 mnopadding">
			<h2 class="text-center page-heading"> Legal Information </h2>
		</div>

		<div class="col-xs-12 mnopadding text-center">
			<h4 class="OpenSans-Light"><a href="#">Terms of Service</a></h4>

		</div>

		<div class="col-xs-12 mnopadding text-center">
			<h4 class="OpenSans-Light"><a href="#">Privacy Policy</a></h4>

		</div>

	</div>
</div>

<div class="container-fluid special-div border-top-2">
	<div class="container-960 nopadding">

		<!-- start html next step div -->
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mnopadding ">

			<h2 class="text-center "> NEXT STEP</h2>
			<p class="text-center dmar-bot-25 OpenSans-Light">
				Want to know more, let us know your details and we'll be in touch to answer any questions.
			</p>

			<form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token=0ccc509fb2189d4939991b1f27e8e597" method="post">

				<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
				<!-- <input type='hidden' name='redirect_to' value='{{site.baseurl}}/legal.html' /> -->
				<input type='hidden' name='redirect_to' value='http://exprojects.cloudapp.net/thankyou.html' />

				<div class="form-group">
					<div class="col-sm-6 mmar-bot-15">
						<input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
								I have read and agree to the <a href="{{site.baseurl}}/legal.html"> <span class="primary-Color"> Privacy Policy </span></a> </label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-default primary-btn">
							Get in touch
						</button>
					</div>
				</div>
			</form>

		</div>

	</div>
</div>

