---
layout: default
---

<div class="container-fluid record-div special-div">
	<div class="container-960">

		<div class="col-sm-12 nopadding">
			<h1 class="text-center page-heading services-heading line-height-35 "> The future of call recording
			<br />
			connected to your network. </h1>
			<img class="img-responsive" src="{{site.baseurl}}/assets/images/service.png">
		</div>

	</div>
</div>

<div class="container-fluid special-div">
	<div class="container-960 openSans-Light">

		<div class=" col-xs-12 col-sm-4 mnopadding">
			<div>
				<img class="img-responsive margin-auto" src="{{site.baseurl}}/assets/images/Vector-Smart-Object1.png" />
			</div>
			<h3 class="mtext-center">No Hardware</h3>
			<p>
				The idea that a provider can switch on call recording as a service might be hard to believe,
				but this is now possible via the Dubber global platform.
				You, the service provider manage your existing network and without additional
				hardware requirements, Dubbers platform is provided as a service.
			</p>
		</div>

		<div class="col-xs-12 col-sm-4 mnopadding">
			<div>
				<img class="img-responsive margin-auto" src="{{site.baseurl}}/assets/images/Vector-Smart-Object2.png" />
			</div>
			<h3 class="mtext-center">Hours to Connect</h3>
			<p>
				Dubbers Platform is ready to go.
				This means that if your network has the ability to support call recording,
				Dubbers platform can record it. After contacting Dubber,
				your team can have call recording operational on via a elastically scalable platform
				and available to any of your end users.
			</p>
		</div>

		<div class=" col-xs-12 col-sm-4 mnopadding">
			<div class="text-center">
				<img class="img-responsive margin-auto" src="assets/images/Vector-Smart-Object3.png" />
			</div>
			<h3 class="mtext-center">Subscription</h3>
			<p>
				The Dubber Platform has rocked the traditional methods to deploy and supply call
				recording by a service provider. The disruptive nature to supply call
				recording across the globe provides Dubber with a flexibility and ability
				to provide our clients with a Opex financial model, previously unavailable.
			</p>
		</div>
	</div>
</div>

<div class="container-fluid secondary-background special-div">
	<div class="container-960 nopadding">

		<div class="col-sm-6 col-md-4 col-md-offset-1 mnopadding dmar-top-85">
			<h4 class="OpenSans-Semibold mtext-center">Scale</h4>
			<p class="OpenSans-Light">
				The supply of bundled call recording and telecommunication service,
				either fixed or mobile is a new concept. Call recording is not new,
				but a truly scalable call recording platform is.
				This scale, enables Dubbers service provider clients to remove the technical and financial
				barriers and offer call recording as a standard service to all users.
			</p>
		</div>

		<div class="col-md-6 col-sm-6 col-lg-6 mnopadding">
			<img class="img-responsive mmargin-auto" src="{{site.baseurl}}/assets/images/Vector-Smart-Object4.png">
		</div>
	</div>
</div>

<div class="container-fluid whiteBackground special-div">
	<div class="container-960 nopadding">

		<div class="col-sm-6 col-md-5 col-md-offset-1 nopadding text-center dmar-top-65 mmar-top-25 mmar-bot-25">
			<img class="img-responsive mmargin-auto" src="{{site.baseurl}}/assets/images/Vector-Smart-Object5.png">
		</div>
		<div class="col-sm-6 nopadding OpenSans-Light">
			<h2 class="text-center">Broadsoft Accreditation</h2>
			<p>
				The Accreditation by Broadsoft enables Dubber to deliver a service which,
				to this point, has not been available to service providers or their customers.
				BroadSoft has said that “….”. If you have a BroadSoft deployment,
				you can very quickly add call recording as an option for every user or SiP trunk with confidence.
			</p>
		</div>

	</div>
</div>

<div class="container-fluid special-div border-top-2">
	<div class="container-960">

		<!-- start html next step div -->
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mnopadding ">

			<h2 class="text-center "> NEXT STEP</h2>
			<p class="text-center dmar-bot-25 OpenSans-Light">
				Want to know more, let us know your details and we'll be in touch to answer any questions.
			</p>

			<form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token=0ccc509fb2189d4939991b1f27e8e597" method="post">

				<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
				<!-- <input type='hidden' name='redirect_to' value='{{site.baseurl}}/legal.html' /> -->
				<input type='hidden' name='redirect_to' value='http://exprojects.cloudapp.net/thankyou.html' />

				<div class="form-group">
					<div class="col-sm-6 mmar-bot-15">
						<input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
								I have read and agree to the <a href="{{site.baseurl}}/legal.html"> <span class="primary-Color"> Privacy Policy </span></a> </label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-default primary-btn">
							Get in touch
						</button>
					</div>
				</div>
			</form>

		</div>

	</div>

</div>

