---
layout: default
---

<div class="container-fluid special-div ">
	<div class="container-960 nopadding">

		<h2 class="text-center page-heading"> Thank you for provide your details. </h2>

		<div class="col-sm-8 col-sm-offset-2">

			<p>
				One of our team members will be in touch shortly and discuss your call recording needs and how we can assist.
			</p>

			<p>
				Many thanks,
			</p>

			<p>
				The Dubber Team
			</p>

		</div>

	</div>

</div>

