<div class="col-xs-12 nopadding">
	
	<footer class="footer whiteBackground ">

		<div class="container-fluid padd-lr-none ">

			<div class="container-960">

				<div class="col-xs-12 nopadding">

					<div class="col-sm-3 footerlogo text-center mmar-bot-15">
						<a href="{{site.baseurl}}/index.html"> 
							<img src="{{site.baseurl}}/assets/images/Dubber-Logo.png" alt="Foooter Logo" />
						</a>
					</div>

					<div class="col-sm-9">

						<div class="mcol-6 col-xs-3 footerlinks xs-text-center">
							<ul class="list-unstyled ">
								<li>
									<a href="#"> Follow Us </a>
								</li>
								<li>
									<a href="https://twitter.com/dubberapp"> <i class="fa fa-twitter"></i> &nbsp; twitter </a>
								</li>
								<li>
									<a href="https://www.linkedin.com/company/dubber"> <i class="fa fa-linkedin"></i> &nbsp; linkedin </a>
								</li>
							</ul>
						</div>

						<div class="mcol-6 col-xs-3 footerlinks xs-text-center">
							<ul class="list-unstyled">
								<li>
									<a href="{{site.baseurl}}/legal.html"> Businesses </a>
								</li>
								<li>
									<a href="{{site.baseurl}}/about.html"> About Us </a>
								</li>
								<li>
									<a href="{{site.baseurl}}/contact.html"> Contact Us </a>
								</li>
							</ul>
						</div>

						<div class="mcol-6 col-xs-3 footerlinks xs-text-center">
							<ul class="list-unstyled">
								<li>
									<a href="{{site.baseurl}}/serviceproviders.html"> Service Providers </a>
								</li>
								<li>
									<a href="{{site.baseurl}}/corporation.html"> Investors </a>
								</li>
								<li>
									<a href="{{site.baseurl}}/legal.html"> Terms </a>
								</li>
							</ul>
						</div>

						<div class="mcol-6 col-xs-3 footerlinks xs-text-center">
							<ul class="list-unstyled">
								<li>
									<a href="{{site.baseurl}}"> Developers </a>
								</li>
								<li>
									<a href="#"> Support </a>
								</li>
								<li>
									<a href="{{site.baseurl}}/legal.html"> Privacy </a>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-xs-12 text-center">
					<div class="copyright">
						&copy; Dubber Corporation Limited. All rights reserved. ASX-DUB
					</div>
				</div>

			</div>

		</div>

	</footer>
</div>