	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title> Dubber </title>
		<link rel="shortcut icon" href="{{site.baseurl}}/assets/images/vector.png" type="image/png">

		<!-- Bootstrap -->
		<link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />

		<!-- style.less -->
		<link href="{{site.baseurl}}/assets/css/style.less" rel="stylesheet/less" type="text/css">

		<!-- jquery js -->
		<script src="{{site.baseurl}}/assets/js/jquery.js"></script>

		<!-- bootstrap js -->
		<script src="{{site.baseurl}}/assets/js/bootstrap.js"></script>

		<!-- less js -->
		<script src="{{site.baseurl}}/assets/js/less.js"></script>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>