<div class="container-fluid nopadding whiteBackground">

	<div class="container-960">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed header-toggle-bar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{site.baseurl}}/"> <img src="{{site.baseurl}}/assets/images/Dubber-Logo.png" /> </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">Business</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/serviceproviders.html" class="{% if page.url == '/serviceproviders.html' %}current{% endif %}">Service Providers</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/about.html"  class="{% if page.url == '/about.html' %}current{% endif %}">About</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a>
						</li>
						<li class="hidden-sm hidden-md hidden-lg">
							<a href="{{site.baseurl}}/login.html" target="_blank" class="{% if page.url == '/login.html' %}current{% endif %}">Log In</a>
						</li>

						<li class="head-login hidden-xs">
							<a href="{{site.baseurl}}/login.html" target="_blank" class="{% if page.url == '/login.html' %}current{% endif %}">LOG IN</a>
						</li>

					</ul>

				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->
		</nav>

	</div>

</div>