@font-face {
    font-family: 'OpenSans-Regular'; /*a name to be used later*/
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'OpenSans-Light'; /*a name to be used later*/
    src: url('../fonts/OpenSans/OpenSans-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'OpenSans-Semibold'; /*a name to be used later*/
    src: url('../fonts/OpenSans/OpenSans-Semibold.ttf'); /*URL to font*/
}

@mainFontFamily :  'OpenSans-Regular';
@OpenSans-Light :  'OpenSans-Light';
@OpenSans-Semibold :  'OpenSans-Semibold';

.OpenSans-Regular { font-family : @mainFontFamily; }
.OpenSans-Light { font-family : @OpenSans-Light; }
.OpenSans-Semibold { font-family : @OpenSans-Semibold; }

@lg-desktop:   ~"only screen and (min-width: 1170px)";
@desktop:   ~"only screen and (min-width: 768px)";
@tablet:    ~"only screen and (min-width: 768px) and (max-width: 991px)";
@mobile:    ~"only screen and (max-width: 767px)";
@xs-mobile:    ~"only screen and (max-width: 420px)";

//Primary Color 
@primaryColor : #E8414D;
.primary-Color{ color : @primaryColor; }

//secondary button color
@darkColor : #363636;

//panel background  color on home page 
@panelColor : #E5E5E5;
.secondary-background { background : @panelColor; }

// white color 
@whiteColor : #fff;

//text shadow 
@textShadow : #777;

//box shadow 
@boxShadow : #aaa;

//foooter menu link
@foooterMenuLink : #777;

//set site default border
@bordercolor : #ddd;

//html,body css
html,body {
  min-width : 320px;
  font-family: @mainFontFamily; 
}

//set width of innner ccontainers
.container-960 { margin : 0 auto; max-width : 960px; }

//set header css
#header {
  overflow : hidden;
  @media  @desktop{ border-bottom : 1px solid @bordercolor;   }
}

//change default css of bootstrap navbar
.navbar-default {
    background-color: @whiteColor;
    font-family : @OpenSans-Semibold;
    @media  @desktop{
      height : 100px;
      padding-top : 55px;
      border-color: @whiteColor;
     }    
     @media  @mobile{
       min-height : 100px;
       margin-bottom : 0px;
       #bs-example-navbar-collapse-1{
         margin-top : 18px;
       }
       .header-toggle-bar {
         margin-top : 30px;
       }
     }
    .navbar-brand { 
      @media  @desktop{ 
        margin-top : -50px;
        img { height : 65px; }
       } 
       @media  @mobile{
          height : 80px;
        img { height : 60px; }
       }
     }
    
    .head-login { position : absolute; right : 20px; top : 5px; font-size :12px;  }    
} 

a{ text-decoration : none; &:hover{text-decoration : none;}}

.learn-more {
  a {
    color : @primaryColor;
    font-size : 10px;
    font-weight : bold;
  }
}

//css for home page 
.record-div { 
  background-color : @primaryColor;
  color : @whiteColor; 
  font-family : 'OpenSans-Light';
}
.record-subdiv {
  @media @desktop {
    margin-top : 30px;
    margin-bottom : 10px;
    text-shadow : 2px 2px 2px @textShadow;
  }
}
.record-number {
  @media @desktop { font-size: 6em; }
  @media @mobile { font-size: 3em; }
  
  line-height : 50px;
  text-shadow : 1px 1px 7px @textShadow;
  padding-top : 10px;
}

.record-head, .record-subhead {
  text-shadow : 2px 2px 2px @textShadow;
}

.record-subdiv-heading{
  font-family : 'OpenSans-Regular';
}

.primary-btn {
   background : @primaryColor;
   color : @whiteColor;
   outline : none !important;
   box-shadow : none  !important;
   border-color : @primaryColor;
   font-weight : 600;
   
   &:hover,&:active,&:focus {
     background : darken(@primaryColor,5%);
     color : @whiteColor;
     border-color : @primaryColor;
   }   
}


//use this button for home page second div record,subscribe and use 
.secondary-btn {
  background-image : url("../images/Record.png");
  color : @whiteColor;
  outline : none !important;
  width : 100px; 
  border : 0px;
  box-shadow: 3px 3px 7px @boxShadow;
  font-weight : 600;
  margin-bottom : 5px;
   
   &:hover,&:active,&:focus {
     color : @whiteColor;
     background-image : url("../images/Record.png");
     opacity : .8;
   }  
}


//only home page body
.home-image {
  background-image : url("../images/trade-work-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.line-image {  position : absolute; }
.line-image1 { 
  left: 72%;
  top :65px; 
}
.line-image2 { 
  bottom : 30px; 
  left : 47%;
}
.line-image3 { 
  right: 70%;
  top :65px; 
}

.trade-work {
  @media @desktop { height : 400px; }
  @media @mobile { height : auto; }
 }

.panel-default {
  margin-bottom : 0px;
  background-color : @panelColor;
  line-height : 70px;
  font-size : 20px;
  color : lighten(@darkColor,25%);
}

.dark-btn {
  background : @darkColor;
  color : darken(@whiteColor,30%);
  font-size : 18px;
  outline : none !important;
  box-shadow : none  !important;
  border-radius : 10px;
  padding-left : 30px;
  padding-right : 30px;
  @media @desktop {
    margin-left: 85px;
  }
  
  &:hover,&:active,&:focus {
     background : darken(@darkColor,5%) !important;
     color : darken(@whiteColor,30%);
     border-color : @darkColor;     
  }    
  .fa {
    font-size : 12px;
  }
}


//contact ,confirmation and about and legle page css
.main{
  .mainsection{    
    .sectionlinks{
      padding-top: 120px;
      a:link, a:hover, a:active{
        text-decoration: underline;
      }
    }
  }
}

//remove the radius of input filed 
input[type='text'], input[type='email'], [type="submit"] , [type="tel"] {
  .border-radius-none;
}

// helper classes
.padd-l-none { padding-left : 0px; }
.padd-r-none { padding-right : 0px; }
.padd-lr-none { .padd-l-none;  .padd-r-none; }
.nopadding { .padd-lr-none }

.border-radius-none { border-radius : 0px ; }

.whiteBackground { background : @whiteColor; }
.underline-none { text-decoration : none;}

.line-height-15{line-height : 15px;}
.line-height-35{line-height : 35px;}


.padd-top-20 { padding-top : 20px;}
.padd-top-30 { padding-top : 30px;}
.padd-top-40 { padding-top : 40px;}
.padd-top-40 { padding-top : 40px;}

.border-top-2 { border-top : 2px solid @bordercolor;}

.padd-bot-20 { padding-bottom : 20px;}
.padd-bot-30 { padding-bottom : 30px;}
.padd-bot-40 { padding-bottom : 40px;}

.mar-bot-40 { margin-bottom : 40px;}
.mar-bot-30 { margin-bottom : 30px;}
.mar-bot-15 { margin-bottom : 15px;}

//Top Padding
.paddTop(@top) {
  padding-top : @top;
}

.paddBot(@bot) {
  padding-bottom : @bot;
}

.special-div {
  @media @desktop { .paddTop(60px); .paddBot(70px); }
  @media @mobile { .paddTop(40px); .paddBot(50px); }
}


.margin-auto { margin : 0 auto; }
@media @desktop{
  
  .dmar-top-25 { margin-top : 25px; }  
  .dmar-top-35 { margin-top : 35px; }
  .dmar-top-45 { margin-top : 45px; }
  .dmar-top-65 { margin-top : 65px; }
  .dmar-top-65 { margin-top : 65px; }
  .dmar-top-70 { margin-top : 70px; }
  .dmar-top-85 { margin-top : 85px; }
  
  .dmar-bot-25 { margin-bottom : 25px; }
  
  .dpadd-top-25 { padding-top : 25px; }
  .dpadd-bot-25 { padding-bottom : 25px; }
  
  .dpadd-right-60 { padding-right : 60px; }
  
  .dtext-right{ text-align : right; }
  
}

@media @mobile{
  .mnopadding { .nopadding; }
  
  .mpadd-top-15 { padding-top : 15px; }
  .mpadd-bot-15 { padding-bottom : 15px; }
  
  .mmar-top-5 { margin-top : 5px; }
  .mmar-top-10 { margin-top : 10px; }
  .mmar-top-15 { margin-top : 15px; }
  .mmar-top-25 { margin-top : 25px; }
  .mmar-bot-25 { margin-bottom : 25px; }
  .mmar-bot-15 { margin-bottom : 15px; }
  .mtext-center { text-align : center; }
  
  .mmargin-auto { margin : 0 auto; }
}

@media @xs-mobile{
  .mimage-width-100 { width : 100%; } 
  .mcol-6 { width :50%; } 
  .mcol-12 { width :100%; margin-left : 0px; } 
  .xs-text-center { text-align : center; }
}



//form-heading 
.page-heading{
  @media @desktop { line-height : 70px; margin-bottom : 20px;  }  
  @media @mobile{ margin-bottom : 20px;  }  
  font-family : @OpenSans-Light;
 }
 .services-heading{
  line-height : 35px !important; 
  margin-bottom : 0px !important;
 }






.footer{
  border-top : 2px solid @bordercolor;
  .padd-top-20;
  .padd-bot-30;
    .container-960{
        margin: 20px auto;
        .footerlinks{
          line-height : 30px;          
          .footerline1, .footerline2, .footerline3{
            margin: 0px;
            ul{
              li{
                list-style: none outside none;
                display: inline;
                margin: auto 25px;
               
              }
            }
          }
        }
    }
    .copyright{
      margin: 10px auto;
      padding: 10px auto;
      color : @foooterMenuLink;
    }
}

.footer {
  font-family : @OpenSans-Semibold;
   a{
        color : @foooterMenuLink;
        &:hover {
          color : darken(@foooterMenuLink,40%);
        }
    }
}
.current {
  color : darken(@foooterMenuLink,40%) !important;
}
a,a:visited, a:active ,a:link {text-decoration : none;}
