<!DOCTYPE html>
<html lang="en">
	
		{% include head.html %}
			
	   <body>

		<div class="container-fluid padd-lr-none">
			
			<div id="header">
				{% include header.html %}
			</div>
			

			<div class="main">

				{{ content }}

			</div>

			<div id="footer">
				{% include footer.html %}
			</div>

		</div>

	</body>
</html>